<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= render 'day_summary', summary: Report.new(@user).day_summary %>
  </body>
</html>
