<%= simple_form_for(settings, html: { class: 'form-horizontal' }) do |f| %>

  <%= f.error_notification if f.error_notification %>

  <%= f.input :time_zone %>

  <div class="form-actions">
    <%= f.button :submit, 'Update Settings' %>
  </div>

<% end %>
