<%= simple_form_for(@project, html: { class: 'form-horizontal' }) do |f| %>

  <%= f.error_notification if f.error_notification %>

  <%= f.input :name, autofocus: true %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>

<% end %>
