#timesheet {

  #datepicker {
    position: absolute;
    margin: 20px 0 0 169px;
    z-index: 1;
  }

  .time-entry-title {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.25;
    margin-bottom: 8px;
    .divider {
      color: #ccc;
      padding: 0 5px;
    }
  }

  .time-entry-description {
    margin-left: 8px;
  }

}
