.count-holder {
  font: 17px 'Open Sans Condensed',sans-serif;
  text-align: center;
  letter-spacing: -5px;
}

.position {
  display: inline-block;
  height: 1.6em;
  overflow: hidden;
  position: relative;
  width: 16px;
}

.digit {
  position: absolute;
  display: block;
  width: 15px;
  background-color: rgb(183, 222, 245);
  border-radius: 0.2em;
  text-align: center;
  color: #fff;
  letter-spacing: -1px;
}

.running {
  .digit.static {
    box-shadow:1px 1px 1px rgb(183, 222, 245);
    @include gradient-vertical(rgb(35, 160, 231), rgb(35, 160, 231));
  }
}

.stopped {
  .digit.static {
    box-shadow:1px 1px 1px #aaa;
    @include gradient-vertical(#d7d7d7, #cfcfcf);
  }
}

/**
 * You can use these classes to hide parts
 * of the countdown that you don't need.
 */

.count-div {
  display:inline-block;
  width: 10px;
  height: 31px;
  position:relative;
}

.count-div:before,
.count-div:after {
  position: absolute;
  width: 4px;
  height: 5px;
  background-color: rgb(175, 214, 236);
  border-radius: 50%;
  left: 75%;
  margin-left: -6px;
  top: 0.5em;
  box-shadow: 1px 1px 1px rgba(4, 4, 4, 0.5);
  content: '';
}

.count-div:after { top:0.9em; }

.timer-button { margin: 0; }