<footer>

  <div class="container">
    <p class="muted credits">
      <%= link_to 'Cuckoo', 'https://github.com/kauplus/cuckoo' %> by <%= link_to 'Kauplus', 'http://www.kauplus.com/' %> &copy; <%= Date.today.year %>
    </p>
  </div>

</footer>